
.profile_image {
    width: 2rem;
    height: 2rem;
    border-radius: 100vw;
    margin-right: 1rem;
}

.payment-option {
    background-color: black;
    border-radius: 100vw;
    padding: 1rem;
}

.gold-color {
    color: #F39D00;
    height: 2rem;
    width: 2rem;
}

.goshare {
    background-color: black;
    padding: 1rem;
    border-radius: 2rem;
}

.goshare-bar {
    height: 2rem;
    border-radius: 0.5rem;
}

ion-progress-bar {
    --background: #252525;
    --progress-background: #F39D00;
}
