
<div *ngIf="payment.type == 'mobilepay'" class="payment-option space-between vertical-align mb-2" id="open-modal">
  <div class="display-flex vertical-align">
    <img class="mr-1" style="height: 2rem;" src="../../../assets/svg/mobilepay.svg">
    <p class="m-0 white">Mobilepay</p>
  </div>
  <ion-icon name="chevron-forward-outline"></ion-icon>
</div>

<div *ngIf="payment.type == 'paypal'" class="payment-option space-between vertical-align" id="open-modal" >
  <div class="display-flex vertical-align">
    <img class="mr-1" src="../../../../assets/svg/Group 101.svg">
    <p class="m-0 white">PayPal</p>
  </div>
  <ion-icon name="chevron-forward-outline"></ion-icon>
</div>

<ion-modal #ion_modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Payment methods</ion-title>
        <img slot="end" class="profile_image" src="../../assets/account_image.jpg">
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="goshare">
        <div class="space-between vertical-align mb-2">
          <ion-icon class="gold-color" name="scan-circle"></ion-icon>
          <div>
            <h3 class="m-0">Use Goshare points</h3>
            <p class="m-0">You save DKK 22</p>
          </div>
          <ion-toggle [(ngModel)]="useGoshare"></ion-toggle>
        </div>
        <ion-progress-bar class="goshare-bar" value="0.2"></ion-progress-bar>
      </div>
      
      <h3>Payment method</h3>
      <div class="payment-option space-between vertical-align mb-2" (click)="select('mobilepay')">
        <div class="display-flex vertical-align">
          <img class="mr-1" style="height: 2rem;" src="../../../assets/svg/mobilepay.svg">
          <p class="m-0 white">Mobilepay</p>
        </div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      
      <div class="payment-option space-between vertical-align" (click)="select('paypal')">
        <div class="display-flex vertical-align">
          <img class="mr-1" src="../../../../assets/svg/Group 101.svg">
          <p class="m-0 white">PayPal</p>
        </div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

      <h3>Promotion code</h3>
      <ion-item class="rounded">
        <ion-input label="Add Code" labelPlacement="floating" [(ngModel)]="promotionCode"></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
