
.driver-card {
    margin: 0px 0.2rem;
}

.time-botton {
    background-color: #171717;
    border-radius: 100vw;
}

.time-icon {
    color: #5360E2;
}

.request-card {
    border-radius: 1rem 1rem 0px 0px;
}

.bar {
    height: 0.5rem;
    border-radius: 100vh;
    background-color: gray;
    width: 100%;
}
.green {
    background-color: #5ABC7A;
}

.tall {
    height: 50vh;
}

.gap {
    gap: 0.5rem;
}

.link {
    color: #5360E2;
}

.payment-icon {
    height: 2rem;
}

.bottom-border {
    border-bottom-width: 2px;
    border-bottom-color: black;
    border-bottom-style: solid;
    padding-bottom: 0.5rem;
}

.safty-botton {
    color: #5360E2;
}

ion-button {
    --border-color: #B93636;
}
