/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.mb-2 {
    margin-bottom: 1rem;
}
.mt-2 {
    margin-top: 1rem;
}
.mt-4 {
    margin-top: 2rem;
}
.mb-1{
    margin-bottom: 0.5rem;
}
.mb-2{
    margin-bottom: 1rem;
}
.mb-4{
    margin-bottom: 2rem;
}
.m-0 {
    margin: 0px;
}
.ml-1 {
    margin-left: 0.5rem;
}
.ml-2 {
    margin-left: 1rem;
}
.ml-4 {
    margin-left: 2rem;
}
.mr-1 {
    margin-right: 0.5rem;
}
.mr-2 {
    margin-right: 1rem;
}


$text-color: rgba(255, 255, 255, 90%);
$text-color-secoundary: rgba(255, 255, 255, 35%);
$color-accent: #5ABC7A;
$color-blue: rgba(83, 96, 226, 1);

.color-accent {
    color: $color-accent;
}
.background-color-accent {
    background-color: $color-accent;
}
.color-blue {
    color: $color-blue;
}
.accent-filter {
    filter: invert(73%) sepia(23%) saturate(848%) hue-rotate(87deg) brightness(86%) contrast(86%);
}

h1 {
    color: $text-color;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.36px;
}

h3 {
    height: 24px;
    left: 4.27%;
    right: 53.87%;
    bottom: 1054px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.36px;
    color: $text-color;
}

p {
    color: $text-color-secoundary;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(60, 60, 67, 0.6);
}

.separator:not(:empty)::before {
    margin-right: 1.5em;
}

.separator:not(:empty)::after {
    margin-left: 1.5em;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.display-flex {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.center {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #171717;
    border-radius: 20px;
}

.rounded {
    border-radius: 100vw;
}

.full-width {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.white {
    color: white;
}

.label-text-wrapper {
    color: white;
}

