<ion-header>
    <ion-toolbar>
        <ion-title>
            <ion-icon name="earth-outline"></ion-icon>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <h1 style="margin: 0px;">Welcome</h1>
    <h1 style="margin: 0px;">to GoShare</h1>
    <p>If you have an acount, please write your Email and Password. If not, you can create an acount by clicking Sign Up at the bottom of the page</p>
</ion-content>

<ion-content class="ion-padding">
    <form (ngSubmit)="login()" #form="ngForm">
        <ion-item class="mb-2">
            <ion-input label="Email" labelPlacement="floating" type="email" [(ngModel)]="email" name="email" required></ion-input>
        </ion-item>
        <ion-item class="mb-2">
            <ion-input label="Password" labelPlacement="floating" type="password" [(ngModel)]="password" name="password" required></ion-input>
        </ion-item>
        <ion-button size="large" shape="round" type="submit" expand="block" [disabled]="!form.form.valid">Log in</ion-button>
    </form>
</ion-content>

<div class="separator">Or</div>

<ion-content class="ion-padding">
    <div style="display: flex; justify-content: center; gap: 1rem;">
        <img (click)="login()" src="../../assets/svg/Group 94.svg">
        <img (click)="login()" src="../../assets/svg/Group 95.svg">
        <img (click)="login()" src="../../assets/svg/Group 96.svg">
    </div>
</ion-content>